<div class="container">
    <h1>Profile</h1>
    
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile photo">
            </mat-card>
        </div>
        <div class="col-md-8">
            <form class="example-form">
                <h4>About me </h4>
            
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <input class="form-control" placeholder="First name">
                        </td>
                        <td>
                            <input class="form-control"  placeholder="Last Name">
                        </td>
                    </tr>
                </table>

                <input class="form-control" type="email" placeholder="Email (disabled)" disabled value="your_email@here.com">
                
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                                <input class="form-control" type="date" placeholder="Birthday">
                        </td>
                        <td>
                            <input class="form-control"  placeholder="Height">
                        </td>
                        <td>
                            <input class="form-control"  placeholder="Weight">
                        </td>
                    </tr>
                </table>

                <button mat-flat-button type="submit" (click)="onUpdateProfile()" color="primary">Update</button>
            </form>
        </div>
    </div>
</div>